<p-card header="Gestion des Commandes">
  <p-table [value]="orders" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Identité</th>
        <th>Articles</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.date | date:'dd/MM/yyyy' }}</td>
        <td>{{ order.username }}</td>
        <td>{{ order.articles }}</td>
        <td>{{ order.status }}</td>
        <td class="grid grid-cols-3 gap-2">
          <p-button icon="pi pi-eye" (onClick)="showOrderDetails(order)" title="Voir Détails"
            styleClass="p-button-sm p-button-info"></p-button>
          <p-button *ngIf="order.status === 'En attente'" icon="pi pi-check" (onClick)="validateOrder(order)"
            styleClass="p-button-sm p-button-success" title="Valider la Commande"></p-button>
          <p-button *ngIf="order.status === 'En attente'" icon="pi pi-times" (onClick)="refuseOrder(order)"
            styleClass="p-button-sm p-button-danger" title="Refuser la Commande"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptyMessage">
      <tr>
        <td colspan="5">Aucune commande trouvée.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog header="Détails de la Commande" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <div *ngIf="selectedOrder">
    <p><b>Date:</b> {{ selectedOrder.date | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><b>Identité:</b> {{ selectedOrder.identityName }}</p>
    <p><b>Articles:</b> {{ selectedOrder.articles }}</p>
    <p><b>Statut:</b> {{ selectedOrder.status }}</p>
    <p *ngIf="selectedOrder.motif"><b>Motif:</b> {{ selectedOrder.motif }}</p>
    <p *ngIf="selectedOrder.commentaire"><b>Commentaire:</b> {{ selectedOrder.commentaire }}</p>
  </div>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>