@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.p-datatable .p-datatable-tbody>tr:nth-child(odd) {
    background-color: rgba(249, 249, 249, 0.05); // A light grey color
}